@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body {
    font-family: Roboto, serif;
    background: linear-gradient(0deg, #07270f 2%, #194933 100%);
    box-shadow: 12px 12px 8px 1px #143713;
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active{
    color: rgb(171, 172, 172);
}
.navbar-brand img{
    width: 60px;
}

.navbar-toggler {
    color: rgb(20, 139, 91);
    background-color: rgb(171, 172, 172);
}

.sidebar{
    color: aquamarine;
    
}

.card {
    background: linear-gradient(180deg, #567f5f 2%, #084124 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer {
    
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
